@use '../../styles/variables.scss' as *;

footer{
    #logo{
        letter-spacing: 1.5px;
    }

    background-color: $main-color;
    p{
        color: #1E1E1E;
        opacity: 50%;
    }

    
        h3{
            font-size: 26px;
        }

    


}