<footer class="w-full p-6 flex justify-between ">
    <div class="brand p-4 w-1/2">
        <h3 class="font-bold mb-4" id="logo">Greenmind</h3>
        <p>We help you find <br> the best products</p>
        <div class="icons mt-8">
            <span class="me-3 rounded-full py-2 px-3 opacity-50 border-2 border-[#1E1E1E]"><i class="fa-brands fa-facebook-f"></i></span>
            <span class="me-3 rounded-full py-2 px-3 opacity-50 border-2 border-[#1E1E1E]"><i class="fa-brands fa-instagram"></i></span>
            <span class="me-3 rounded-full py-2 px-3 opacity-50 border-2 border-[#1E1E1E]"><i class="fa-brands fa-twitter"></i></span>
        </div>
        <p class="mt-8">2025 all Right Reserved Term of use GREENMIND</p>
    </div>


   <div class="p-4 w-1/2">
        <div class="container">
            <div class="grid md:grid-cols-3 sm:grid-cols-2 grid-cols-1">

                <div class="footer-col">
                    <h3 class="font-bold mb-4">Information</h3>
                    <p role="button" routerLink="/home" class="mb-2">Home</p>
                    <p role="button" routerLink="/products" class="mb-2">Product</p>
                    <p role="button" routerLink="/cart" class="mb-2">cart</p>
                </div>
                <div class="footer-col">
                    <h3 class="font-bold mb-4">Account</h3>
                    <p role="button" routerLink="/login" class="mb-2">Login</p>
                    <p role="button" routerLink="/register" class="mb-2">Register</p>
                </div>
                <div class="footer-col">
                    <h3 class="font-bold mb-4">Download</h3>
                    <div class="footer-img ">
                        <img class="w-1/2"  src="images/get-apple-store.png" alt="">
                        <img class="w-1/2" src="images/get-google-play.png" alt="">

                    </div>
                </div>



            </div>
        </div>
    </div>
</footer>